body {
background-color: black;
}

html {
    font-family: Roboto, sans-serif;
  }

  h1 {
      font-size: larger;
      color:white;
      
  }
  h2 {
      color: teal;
  }
  p {
      color: white;
  }
li {
    color:white;
}
ul {
    color: white;
}
  .container {
      margin: 20pt;
  }
   .styled-image{
      flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    width: 286px;
    height: unset;
    margin: -16px 24px -16px -24px;
    border-radius: 4px 0px 0px 4px;
  }