body {
background-color: black;
}

html {
    font-family: Roboto, sans-serif;
  }

  h1 {
      font-size: 45pt;
      justify-content: center;
      color:white;
      
  }
  h2 {
      color: teal;
  }
  p {
      color: white;
  }
li {
    color:white;
}
ul {
    color: white;
}
  .container {
      margin: 20pt;
      justify-content: center;
  }
   .styled-image{
    width: 600px; /* width of container */
    height: 300px; /* height of container */
    overflow: hidden;
    border: 5px solid white;
    margin: -16px 24px -16px -24px;
    border-radius: 4px 0px 0px 4px;
  }