body {
background-color: black
}

html {
    font-family: Roboto, sans-serif;
  }

  h1 {
      font-size: larger;
      color:white;
  }
  h2 {
      color: teal
  }
  p {
      color: white;
  }

  div {
      margin: 20pt;
  }